ci-build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

blog/
coverage/
out/

# Ignore bin folder in travis deployment stage
bin/
