html {
    scroll-behavior: smooth;
    font-size: 16px;
}
h1 {
    margin: 0px;
}
body {
    width: 100ch;
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto Slab", serif;
}
img {
    width: 100ch;
}
a {
    text-decoration-color: #aaa;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
.footnotes > hr {
    border: 1px #eee solid;
}
.footnotes > ol {
    color: gray;
}
.date {
    margin-top: 10px;
    font-size: small;
    color: gray;
}
.post {
    margin-top: 10px;
}
