<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="UTF-8">
		<title>Blog</title>
        <meta property="og:title" content="{{.Title}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{.PermaLink}}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
		    <link rel="stylesheet" href="blogstyle.css">
		    <link rel="stylesheet" href="codestyle.css">
        {{if .FeaturedImage}}
        <meta property="og:image" content="{{.FeaturedImage}}"/>
        {{end}}
	</head>
	<body>
		<div class='post'>
			{{if .PreviousPostLink}}
			<a href='{{.PreviousPostLink}}'>&lt;</a>
			{{end}}
			<a href='{{.HomeLink}}'>up</a>
			{{if .NextPostLink}}
			<a href='{{.NextPostLink}}'>&gt;</a>
			{{end}}
			</br>

			<span class='date'>{{.CreatedAt}}</span>
			{{ .Rendered }}
		</div>
    {{if .Discussion}}
    <script src="https://giscus.app/client.js"
      data-repo="RaphaelPour/blog-feedback"
      data-repo-id="R_kgDOLmFm8g"
      data-category="Announcements"
      data-category-id="DIC_kwDOLmFm8s4CeQ5V"
      data-mapping="og:title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      data-lang="en"
      crossorigin="anonymous"
      async>
    </script>
  {{end}}
	</body>
</html>
