<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <title>{{.Cfg.Title}}</title>
		<link rel="icon" href="data:,">
		<link rel="alternate" type="application/rss+xml" title="Feed" href="/rss.xml">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
		<style>
            html { scroll-behavior: smooth; font-size: 20px;}
			body { width: 80ch; margin-left: auto; margin-right: auto; font-family: "Roboto Slab", serif;}
			h1 { margin:0px;}
			pre { width:100%;overflow:auto}
			.date { margin-top:10px;font-size: small; color: gray; }
			.post { margin-top:10px;}
		</style>
	</head>
	<body>
    <h2>{{.Cfg.Title}}</h2>
        {{.Cfg.Description}}
		<ul>
		{{range .Posts}}
		<li>
		  <span class='date'>[{{.CreatedAt}}]</span>
			<a href='{{ .Link }}'>{{ .Title }}</a>
		</li>
		{{else}}<li><strong>no posts</strong></li>{{end}}
		</ul>
        {{.Cfg.Footer}}
	</body>
</html>
