<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blog</title>
		<link rel="icon" href="data:,">
		<link rel="alternate" type="application/rss+xml" title="Feed" href="/rss.xml">
		<style>
			h1 { margin:0px;}
			pre { width:100%;overflow:auto}
			.date { margin-top:10px;font-size: small; color: gray; }
			.post { margin-top:10px;}
		</style>
	</head>
	<body>
	<h2>evilcookie</h2>
		Hi, I'm Raphael. I write about my software developer journey.
		You can find my stuff on <a href='https://github.com/RaphaelPour'>github</a>.
		<ul>
		{{range .}}
		<li>
		  <span class='date'>[{{.CreatedAt}}]</span>
			<a href='{{ .Link }}'>{{ .Title }}</a>
		</li>
		{{else}}<li><strong>no posts</strong></li>{{end}}
		</ul>
		<a href='rss.xml'>RSS</a>|<a href='impressum.html'>Impressum</a>
	</body>
</html>
