<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blog</title>
		<style>
			h1 { margin:0px;}			
			body { max-width:80ch; margin-right: auto; margin-left: auto; font-family: "Roboto Slab", serif}
			img { max-width:80ch; }
			.footnotes > hr { border: 1px #EEE solid; }
			.footnotes > ol { color: gray;}
			.date { margin-top:10px;font-size: small; color: gray; }
			.post { margin-top:10px;}

			/* CODE STYLES */
			/* Background */ .bg { background-color: #ffffff }
			/* PreWrapper */ .chroma { background-color: #ffffff; }
			/* Error */ .chroma .err {  }
			/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
			/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
			/* LineHighlight */ .chroma .hl { background-color: #e5e5e5 }
			/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
			/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
			/* Line */ .chroma .line { display: flex; }
			/* Keyword */ .chroma .k { font-weight: bold }
			/* KeywordConstant */ .chroma .kc { font-weight: bold }
			/* KeywordDeclaration */ .chroma .kd { font-weight: bold; }
			/* KeywordNamespace */ .chroma .kn { font-weight: bold }
			/* KeywordPseudo */ .chroma .kp { font-weight: bold }
			/* KeywordReserved */ .chroma .kr { font-weight: bold }
			/* KeywordType */ .chroma .kt { font-weight: bold }
			/* NameBuiltin */ .chroma .nb { }
			/* NameBuiltinPseudo */ .chroma .bp { font-weight: bold; font-style: italic }
			/* NameClass */ .chroma .nc { color: #666666; font-weight: bold; font-style: italic }
			/* NameConstant */ .chroma .no { color: #666666; font-weight: bold; font-style: italic }
			/* NameFunction */ .chroma .nf { }
			/* NameNamespace */ .chroma .nn { color: #666666; font-weight: bold; font-style: italic }
			/* NameVariable */ .chroma .nv { color: #666666; font-weight: bold; font-style: italic }
			/* LiteralString */ .chroma .s { color: #666666 }
			/* LiteralStringAffix */ .chroma .sa { color: #666666; font-style: italic }
			/* LiteralStringBacktick */ .chroma .sb { color: #666666; font-style: italic }
			/* LiteralStringChar */ .chroma .sc { color: #666666; font-style: italic }
			/* LiteralStringDelimiter */ .chroma .dl { color: #666666; font-style: italic }
			/* LiteralStringDoc */ .chroma .sd { color: #666666; font-style: italic }
			/* LiteralStringDouble */ .chroma .s2 { color: #666666 }
			/* LiteralStringEscape */ .chroma .se { color: #666666; font-style: italic }
			/* LiteralStringHeredoc */ .chroma .sh { color: #666666; font-style: italic }
			/* LiteralStringInterpol */ .chroma .si { color: #666666 }
			/* LiteralStringOther */ .chroma .sx { color: #666666; font-style: italic }
			/* LiteralStringRegex */ .chroma .sr { color: #666666; font-style: italic }
			/* LiteralStringSingle */ .chroma .s1 { color: #666666 }
			/* LiteralStringSymbol */ .chroma .ss { color: #666666; font-style: italic }
			/* OperatorWord */ .chroma .ow { font-weight: bold }
			/* Comment */ .chroma .c { color: #888888; font-style: italic }
			/* CommentHashbang */ .chroma .ch { color: #888888; font-style: italic }
			/* CommentMultiline */ .chroma .cm { color: #888888; font-style: italic }
			/* CommentSingle */ .chroma .c1 { color: #888888; font-style: italic }
			/* CommentSpecial */ .chroma .cs { color: #888888; font-weight: bold }
			/* Include */ .chroma .cp { font-weight: bold }
			/* Include */ .chroma .cpf { font-weight: bold }
			/* CODE STYLES */

			.chroma { min-width: 20ex; max-width: 100ex; padding: 10px 10px 10px 5px; background-color: #EEEEEE; border-radius: 3px; }
		</style>
	</head>
	<body>
		<div class='post'>
			<a href='{{.HomeLink}}'>up</a>
			</br>
			{{ .Rendered }}
		</div>
	</body>
</html>
